<div class="row z-depth-1">
    <div class="col s12 z-depth-1">        
        <div class="row green lighten-1 z-depth-1">
            <div class="col s5 offset-s1 left">
                <h5 class="white-text">Bank A</h5>
            </div>
            <div class="col s5 pull-s1 right">
                <div class="row">
                    <div class="col s12">
                        <h5 class="right white-text">CD</h5>
                    </div>
                    <div class="col s12">
                        <h6 class="right white-text">One Time Deposit</h6>
                    </div>                    
                </div>               
            </div>
        </div>        


        <div class="row">
            <div class="input-field col s5 offset-s1 left">                             
                <input id="amount" class="validate" type="number" name="" ng-model="cd.principle">
                <label for="amount" class="active"><b>AMOUNT</b></label>
                <b class="grey-text">@ {{cd.interestRate}}% APY for {{cd.maturityYears}} Year(s)</b>
            </div>            
            <div class="col s5 pull-s1 right">
                <div class="row">
                    <div class="col s12 right">
                        <label for="" class="active right"><b>MATURITY VALUE</b></label>
                    </div>
                    <div class="col s12 right">
                        <h4 class="grey-text right">{{getCDMaturity(true)}}</h4>
                    </div>
                </div>
            </div>            
        </div>
        
         <div class="row">
            <div class="col s4 offset-s8" >
                <a href="" class="btn" ng-click="opnCDAccount()">Apply</a>
            </div>            
        </div>
    </div>
</div>