<div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-1">
        <a ui-sref="listTransactions">Transactions</a>
    </div>
    <div class="col-md-5"></div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-6">
        <table class="table table-hover table-bordered">
            <tr>
                <th>Account#</th>
                <th>Bank Fees</th>
                <th>Interest</th>
            </tr>
            <tr ng-repeat="summary in summaries">
                <td>{{summary.accountNo}}</td>
                <td>{{summary.bankFees}}</td>
                <td>{{summary.interest}}</td>
            </tr>
        </table>
    </div>
    <div class="col-md-5"></div>
</div>