<style>
table.header {
    width: 100%;    
    padding-left: 40px;
    padding-right: 40px;
    background: mediumpurple;
    color: white;
}
.header-cell {
    width: 50%;
    padding: 10px;    
}

.header-links {
    padding-right: 20px;
    padding-left: 20px;    
}

.header-links > a > h4{
    color: #fff;
}
</style>

<table class="header">
    <tr>
        <td class="header-cell"><h1>eNvest</h1></td>
        <td class="header-cell">
            <div>                
                <ul class="nav navbar-nav navbar-right">
                    <li class="header-links"><a class="text-uppercase" ng-click="headerClick()" ><h4>Home</h4></a></li>
                    <li class="header-links"><a class="text-uppercase" ng-click="headerClick()"><h4>About</h4></a></li>
                </ul>
            </div>
        </td>
    </tr>
</table>