<div class="col-md-2"></div>
<div class="col-md-3">
    <form>
        <div>
            <label for="" class="control-label">eNvest Username:</label>
        </div>
        <div>
            <input type="text" name="" value="" class="form-control" ng-model="userInfo.userName">
        </div>
        <div>
            <input type="password" name="" value="" class="form-control" placeholder="Password" ng-model="userInfo.password">
        </div>
        <div>
            <input type="password" name="" value="" class="form-control" placeholder="Confirm Password" ng-model="userInfo.confirmPassword">
        </div>
        <div>
            <button type="submit" ng-click="signIn()" class="btn btn-primary">Sign In</button>
        </div>
    </form>
</div>
<div class="col-md-7"></div>