<div class="divider"></div>

<div class="row">
    <div class="col s2"></div>
    <div class="col s8">
        <div class="section">
            <h5>User Info</h5>
            <div class="row">
                <div class="col s12">
                    {{userInfo.names[0]}}
                </div>
                <div class="col s12">
                    {{userInfo.emails[0].email}}
                </div>
                <div class="col s12">
                    {{userInfo.phone_numbers[0].number}}
                </div>
                <div class="col s12">
                    {{userInfo.addresses[0].street}}
                    {{userInfo.addresses[0].city}}
                    {{userInfo.addresses[0].state}}
                    {{userInfo.addresses[0].zip}}
                </div>
            </div>
        </div>
    </div>
    <div class="col s2"></div>
</div>


<div class="row">
    <div class="col s2"></div>
    <div class="col s8">
        <div class="section">
            <h5>Accounts</h5>
            <div class="row" ng-repeat="a in accounts.accounts">
                <div class="col s4">
                    {{a.responseFor}}
                </div>
                 <div class="col s4">
                    {{a.meta.name}}
                </div>
                 <div class="col s4">
                    {{a.meta.number}}
                </div>
            </div>
        </div>
    </div>
    <div class="col s2"></div>
</div>

<div class="row">
    <div class="col s2"></div>
    <div class="col s8">
        <div class="section">
            <h5>Interest</h5>
            <div class="row" ng-repeat="p in getValues('Interest')">
                <div class="col s4">
                    {{p.subType}} 
                </div>
                <div class="col s4">
                    {{formatNumber(p.amount)}}
                </div>
                <div class="col s4">
                    <span><b>{{p.startDate}}   -   {{p.endDate}}</b></span>
                </div>
            </div>
        </div>

        <div class="section">
            <h5>Bank Fee</h5>
            <div class="row" ng-repeat="p in getValues('Bank Fee')">
                <div class="col s4">
                    {{p.subType}} 
                </div>
                <div class="col s4">
                    {{formatNumber(p.amount)}}
                </div>
                <div class="col s4">
                    <span><b>{{p.startDate}}   -   {{p.endDate}}</b></span>
                </div>
                <div class="col s4">
                    Overdraft
                </div>
                <div class="col s4">
                    {{formatNumber(p.overDraft)}}
                </div>
                <div class="col s4">
                    -
                </div>
                 <div class="col s4">
                    Insufficient Funds
                </div>
                <div class="col s4">
                    {{formatNumber(p.insufficientFunds)}}
                </div>
                <div class="col s4">
                    -
                </div>
                <div class="col s4">
                    Late Payment
                </div>
                <div class="col s4">
                    {{formatNumber(p.latePayment)}}
                </div>
                <div class="col s4">
                    -
                </div>
                 <div class="col s4">
                    Foreign Transaction
                </div>
                <div class="col s4">
                    {{formatNumber(p.foreignTransaction)}}
                </div>
                <div class="col s4">
                    -
                </div>
                
            </div>
        </div>

        <div class="section">
            <h5>Payments</h5>
            <div class="row" ng-repeat="p in getValues('Payment')">
               <div class="col s4">
                    {{p.subType}} 
                </div>
                <div class="col s4">
                    {{formatNumber(p.amount)}}
                </div>
                <div class="col s4">
                    <span><b>{{p.startDate}}   -   {{p.endDate}}</b></span>
                </div>
            </div>
        </div>
        
         <div class="section">
            <h5>Financial</h5>
            <div class="row" ng-repeat="p in getValues('Financial')">
               <div class="col s4">
                    {{p.subType}} 
                </div>
                <div class="col s4">
                    {{formatNumber(p.amount)}}
                </div>
                <div class="col s4">
                    <span><b>{{p.startDate}}   -   {{p.endDate}}</b></span>
                </div>
            </div>
        </div>       

        <div class="section">
            <h5>Salary</h5>
            <div class="row" ng-repeat="p in getValues('Salary')">
                <div class="col s4">
                    {{p.subType}} 
                </div>
                <div class="col s4">
                    {{formatNumber(p.amount)}}
                </div>
                <div class="col s4">
                    <span><b>{{p.startDate   + '  -  '  }}  {{p.endDate}}</b></span>
                </div>
                <div class="col s4">
                    Employer
                </div>
                <div class="col s4">
                    {{p.employer}}
                </div>
                <div class="col s4">
                    -
                </div>
                 <div class="col s4">
                    Last Salary
                </div>
                <div class="col s4">
                    {{formatNumber(p.recentSalary)}}
                </div>
                <div class="col s4">
                    -
                </div>
            </div>
        </div>

        <div class="section">
            <h5>Inflow</h5>
            <div class="row" ng-repeat="p in getValues('Inflow')">
                <div class="col s4">
                    {{p.subType}} 
                </div>
                <div class="col s4">
                    {{formatNumber(p.amount)}}
                </div>
                <div class="col s4">
                    <span><b>{{p.startDate}}   -   {{p.endDate}}</b></span>
                </div>
            </div>
        </div>

        <div class="section">
            <h5>Outflow</h5>
            <div class="row" ng-repeat="p in getValues('Outflow')">
                <div class="col s4">
                    {{p.subType}} 
                </div>
                <div class="col s4">
                    {{formatNumber(p.amount)}}
                </div>
                <div class="col s4">
                    <span><b>{{p.startDate}}   -   {{p.endDate}}</b></span>
                </div>
            </div>
        </div>

        <div class="section">
            <h5>Tax</h5>
            <div class="row" ng-repeat="p in getValues('Tax')">
                <div class="col s4">
                    {{p.subType}} 
                </div>
                <div class="col s4">
                    {{formatNumber(p.amount)}}
                </div>
                <div class="col s4">
                    <span><b>{{p.startDate}}   -   {{p.endDate}}</b></span>
                </div>
            </div>
        </div>

        <div class="section">
            <h5>Loan</h5>
            <div class="row" ng-repeat="p in getValues('Load Amount')">
                <div class="col s4">
                    {{p.subType}} 
                </div>
                <div class="col s4">
                    {{formatNumber(p.amount)}}
                </div>
                <div class="col s4">
                    <span><b>{{p.startDate}}   -   {{p.endDate}}</b></span>
                </div>
            </div>
        </div>

    </div>
    <div class="col s2"></div>
</div>