<div class="divider"></div>
<div class="row">
    <div class="col s4"></div>
    <div class="col s4">
        <div class="section">
            <h5>Interest</h5>
            <div class="row" ng-repeat="p in getValues('Interest')">
                <div class="col s6">
                    {{p.subType}}
                </div>
                <div class="col s6">
                    {{formatNumber(p.amount)}}
                </div>                
            </div>
        </div>
        
        <div class="section">
            <h5>Bank Fee</h5>
            <div class="row" ng-repeat="p in getValues('Bank Fee')">
                <div class="col s6">
                    {{p.subType}}
                </div>
                <div class="col s6">
                    {{formatNumber(p.amount)}}
                </div>                
            </div>
        </div>
        
        <div class="section">
            <h5>Utility Bill</h5>
            <div class="row" ng-repeat="p in getValues('Utility Bill')">
                <div class="col s6">
                    {{p.subType}}
                </div>
                <div class="col s6">
                    {{formatNumber(p.amount)}}
                </div>                
            </div>
        </div>
        
        <div class="section">
            <h5>Salary</h5>
            <div class="row" ng-repeat="p in getValues('Salary')">
                <div class="col s6">
                    {{p.subType}}
                </div>
                <div class="col s6">
                    {{formatNumber(p.amount)}}
                </div>                
            </div>
        </div>
        
         <div class="section">
            <h5>Inflow</h5>
            <div class="row" ng-repeat="p in getValues('Inflow')">
                <div class="col s6">
                    {{p.subType}}
                </div>
                <div class="col s6">
                    {{formatNumber(p.amount)}}
                </div>                
            </div>
        </div>
        
         <div class="section" ng-repeat="p in getValues('Outflow')">
            <h5>Outflow</h5>
            <div class="row">
                <div class="col s6">
                    {{p.subType}}
                </div>
                <div class="col s6">
                    {{formatNumber(p.amount)}}
                </div>                
            </div>
        </div>
        
        <div class="section">
            <h5>Tax</h5>
            <div class="row" ng-repeat="p in getValues('Tax')">
                <div class="col s6">
                    {{p.subType}}
                </div>
                <div class="col s6">
                    {{formatNumber(p.amount)}}
                </div>
            </div>
        </div>
        
        <div class="section">
            <h5>Loan</h5>
            <div class="row" ng-repeat="p in getValues('Load Amount')">
                <div class="col s6">
                    {{p.subType}}
                </div>
                <div class="col s6">
                    {{formatNumber(p.amount)}}
                </div>
            </div>
        </div>
        
    </div>
    <div class="col s4"></div>
</div>