<div class="divider"></div>
<div class="row">
    <div class="col s4"></div>
    <div class="col s4">
        <div class="section">
            <h5>Basic Informarion</h5>
            <div class="row">
                <div class="col s6">
                    Name:
                </div>
                <div class="col s6">
                    Saurabh Gupta
                </div>
                <div class="col s6">
                    Address:
                </div>
                <div class="col s6">
                    143 Prospect Street, Stamford, CT - 06901
                </div>
                <div class="col s6">
                    Phone:
                </div>
                <div class="col s6">
                    203-512-1234
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <div class="section">
            <h5>Employer</h5>
            <div class="row">
                <div class="col s6">
                    Rbs
                </div>
            </div>
        </div>
        <div class="section">
            <h5>Accounts</h5>
            <div class="row">
                <div class="col s6">
                    
                </div>
            </div>
        </div>
        <div class="section">
            <h5>Loans</h5>
            <div class="row">
                <div class="col s6">
                    
                </div>
            </div>
        </div>
        <div class="section">
            <h5>Taxes</h5>
            <div class="row">
                <div class="col s6">
                    
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <div class="section">
            <h5>Analysis</h5>
            <div class="row">
                <div class="col s6">
                    Inflows
                </div>
                <div class="col s6">
                    {{formatNumber(profile.inflow)}}
                </div>
                <div class="col s6">
                    Outlows
                </div>
                <div class="col s6">
                    {{formatNumber(profile.outflow)}}
                </div>
                <div class="col s6">
                    Salary
                </div>
                <div class="col s6">
                    {{formatNumber(profile.salary)}}
                </div>
                <div class="col s6">
                    Credi Card Bills
                </div>
                <div class="col s6">
                    {{formatNumber(profile.creditBills)}}
                </div>
                <div class="col s6">
                    Utility Payments
                </div>
                <div class="col s6">
                    {{formatNumber(profile.utilityBills)}}
                </div>
                <div class="col s6">
                    Loan Payments
                </div>
                <div class="col s6">
                    {{formatNumber(profile.loanPayment)}}
                </div>
                <div class="col s6">
                    Mortgage Payments
                </div>
                <div class="col s6">
                    {{formatNumber(profile.monthlyFee)}}
                </div>
                 <div class="col s6">
                    Total Bank Fees 
                </div>
                <div class="col s6">
                    {{formatNumber(profile.monthlyFee)}}
                </div>
                <div class="col s6">
                    Total Interest Earned
                </div>
                <div class="col s6">
                    {{formatNumber(profile.monthlyInterest)}}
                </div>
                <div class="col s6">
                    Is Primary Account Linked?
                </div>
                <div class="col s6">
                    Y
                </div>
                
            </div>
        </div>
    </div>
</div>