<div class="row">
    <div class="col s6 offset-s3 ">
        <form class="uk-form" data-uk-margin>

            <fieldset>
                </br>

                <div class="uk-form-row">
                    <div class="uk-grid" data-uk-grid-margin>
                        <div class="uk-width-1-1">
                            <input type="text" name="" value="" class="form-control" ng-model="userName" placeholder="Bank Username">
                        </div>
                    </div>
                </div>

                <div class="uk-form-row">
                    <div class="uk-grid" data-uk-grid-margin>
                        <div class="uk-width-1-1">
                            <input type="password" name="" value="" class="form-control" ng-model="password" placeholder="Bank Password">
                        </div>
                    </div>
                </div>

                <div class="uk-form-row">
                    <div class="uk-grid" data-uk-grid-margin>
                        <div class="uk-width-1-1">
                            <button type="submit" class="btn btn-primary form-control" ng-click="LinkAccount()">Register</button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>