<ul class="collection with-header">
    <li class="collection-header">
        <h4>Select Your Bank</h4></li>
    <li class="collection-item" >
        <div><a ng-click="selectBank('chase')">Chase</a></div>
    </li>
    <li class="collection-item">
        <div><a ng-click="selectBank('wells')">Wells Fargo</a></div>
    </li>
    <li class="collection-item">
        <div><a ng-click="selectBank('citi')">Citi</a></div>
    </li>
    <li class="collection-item">
        <div><a ng-click="selectBank('boa')">Bank Of America</a></div>
    </li>
</ul>